@model api_air_quality.Web.Application.Services.Countries.ViewModels.CountriesViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@{ 
    foreach(var country in Model.Countries)
            {
                <p>@country</p>
            }
}
